# docker-compose.yml
version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017 --quiet
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    command: mongod --replSet dbrs --bind_ip_all
    volumes:
      - ./mongo-init:/docker-entrypoint-initdb.d

  mockServer:
    image: mockserver/mockserver:5.14.0
    container_name: mockServer
    command: -logLevel DEBUG -serverPort 1090 -proxyRemotePort 80 -proxyRemoteHost www.mock-server.com
    ports:
      - 1080:1090      

  hanaref-backend:
    build:
      context: ./
    container_name: hanaref-backend
    restart: always
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      MONGO_URL: mongodb://mongodb:27017/?directConnection=true
      AUTH0_DOMAIN: mockServer:1090
      AUTH0_NAMESPACE: www.hanaref-test.com
      NODE_TLS_REJECT_UNAUTHORIZED: 0
    ports:
      - "5000:5000"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')", "mongodb:27017"]
      interval: 10s
      timeout: 5s
      retries: 5      

  api-tests:
    build:
      context: ./api-tests
    container_name: hanaref-api-tests
    depends_on:
      # - hanaref-backend
      hanaref-backend:
        condition: service_healthy
      mockServer:
        condition: service_started
      mongodb:
        condition: service_healthy
    environment:
      API_BASE_URL: http://hanaref-backend:5000
      MONGO_URL: mongodb://mongodb:27017/?directConnection=true
    command: ["npm", "test", "--", "--silent=false"]